{% extends 'master/base.html' %}
{% load static %}
{% block body %}

    <div class="main-banner">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-text">
                    <h6>Welcome To Valorant Skin Shop</h6>
                    <h4><em>ค้นหา</em> สกิลที่คุณสนใจ</h4>
                    <div class="main-button">
                        <a href="{% url 'MyProducts' %}">ค้นหาตอนนี้</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}