{% extends 'master/base.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="featured-games header-text">
                <div class="heading-section">
                    <h4><em>สิ่งที่สนใจ</em>(Interests)</h4>
                </div>
                <div class="owl-features owl-carousel">
                  <div class="item text-center">
                    <div class="thumb">
                      <img src="{% static 'images/Interests/Intersests1.png' %}" width="292%" height="185">
                    </div>
                    <h2 class="mt-3">เล่นเกม<br></h2>

                  </div>
                  <div class="item text-center">
                    <div class="thumb">
                      <img src="{% static 'images/Interests/Intersests2.png' %}" width="292%" height="185">

                    </div>
                    <h2 class="mt-3">อ่านมังงะ<br></h2>

                  </div>
                    <div class="item text-center">
                    <div class="thumb">
                      <img src="{% static 'images/Interests/Intersests3.png' %}" width="292%" height="185">
                    </div>
                    <h2 class="mt-3">เขียนโปรแกรม<br></h2>
                  </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}