{% extends 'master/base.html' %}
{% load static %}
{% block body %}
    <div class="game-details header-text ">
        <div class="row ">
            <div class="col-lg-12 ">
                <h2>บุคคลต้นแบบ (Role Model)</h2>
            </div>
            <div class="col-lg-12">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="{% static "images/Rolemodel/RM1.jpg" %}"style="border-radius: 23px; margin-bottom: 30px;">
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 class="h3 ">
                                        <span class="text-danger">ชื่อ-นามสกุล:</span> เอกชัย พิจารณ์
                                    </h1>
                                </div>
                                <div class="col-md-4">
                                    <h1 class="h3 "><span class="text-danger">ชื่อเล่น:</span> พี่เอก</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="h3 ">
                                        <span class="text-danger">ทำงานตำแหน่ง:</span> หัวหน้า IT (เพราะมีคนเดียว)
                                    </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="h3 ">
                                        <span class="text-danger">จบ:</span> วิศวะโยธา
                                    </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="h3 "><span class="text-danger">สาเหตุที่เป็นบุคคลต้นแบบ</span>
                                        เนื่องจากเป็นพี่เลี้ยงตอนฝึกงาน ได้สอนวิธีการเขียนโปรแรกมต่างๆ และช่วยเหลือโปรเจ็คงานในตอนฝึกงาน
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->


{% endblock %}