{% extends 'master/base.html' %}
{% load static %}
{% block body %}
        <style>
            a:link{
                text-decoration: none;
            }
        </style>
        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-6">
                <div class="card mx-3 mt-3">
                     <div class="card-header bg-primary">
                         <div class="row">
                             <div class="col-md-8">
                             <h1 class="h3 mb-0 text-white">บุคคลต้นแบบ (Role Model)</h1>
                             </div>
                             <div class="col-md-4 ">
                                 <a class="text-white btn btn-danger float-right" href="{% url 'Home'%}" >
                                     <i class="fas fa-arrow-circle-left mx-1">
                                     </i>
                                     กลับหน้าหลัก
                                </a>
                             </div>
                         </div>
                        </div>
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-4">
                                <img src="{% static "images/Rolemodel/RM1.jpg"%}" width="100%">
                            </div>
                            <div class="col-md-8 text-dark">
                                <div class="row ">
                                    <div class="col-md-3">
                                        <h1 class="h3 text-mouse"><span class="text-danger">ชื่อ</span> เอกชัย</h1>
                                    </div>
                                    <div class="col-md-4">
                                        <h1 class="h3 text-mouse"><span class="text-danger">นามสกุล</span> พิจารณ์</h1>
                                    </div>
                                    <div class="col-md-5">
                                        <h1 class="h3 text-mouse"><span class="text-danger">ชื่อเล่น</span> พี่เอก</h1>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-8">
                                        <h1 class="h3 text-mouse"><span class="text-danger">ทำงานตำแหน่ง</span> หัวหน้า IT (เพราะมีคนเดียว)</h1>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-8">
                                        <h1 class="h3 text-mouse"><span class="text-danger">จบ</span> วิศวะโยธา </h1>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-md-12">
                                        <h1 class="h3 text-mouse"><span class="text-danger">สาเหตุที่เป็นบุคคลต้นแบบ</span> เนื่องจากเป็นพี่เลี้ยงตอนฝึกงาน ได้สอน
                                            <br>
                                            วิธีการเขียนโปรแรกมต่างๆ และช่วยเหลือโปรเจ็คงานในตอนฝึกงาน
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="sidebar-divider">
                        <div class="row ">
                            <div class="col-md-12">
                                <a class="text-white btn btn-warning float-left" href="MyProducts" >
                                        <i class="fas fa-arrow-circle-left mx-1 "></i>
                                        <span>ย้อนกลับ</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}