{% load static %}
{% url 'Home' as home_url %}
{% url 'MyProducts' as product_url %}
{% url 'MyEducation' as education_url %}
{% url 'MyInterests' as interests_url %}
{% url 'MyRoleModel' as rolemodel_url %}
{% url 'MyHistory' as history_url %}
{% url 'ShowMyData' as showmydata_url %}


<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="{{ home_url }}" class="logo">
                        <img src="{% static 'images/logo.png' %}" width="50%">
                    </a>
                    <ul class="nav">
                        <li>
                            <a href="{{ home_url }}"
                               {% if request.get_full_path == home_url %}class="active"{% endif %}>หน้าหลัก
                            </a>
                        </li>
                        <li>
                            <a href="{{ product_url }}"
                               {% if request.get_full_path == product_url %}class="active"{% endif %}>สินค้า
                            </a>
                        </li>
                        <li>
                            <a href="{{ education_url }}"
                               {% if request.get_full_path == education_url %}class="active"{% endif %}>ประวัติการศึกษา
                            </a>
                        </li>
                        <li>
                            <a href="{{ interests_url }}"
                               {% if request.get_full_path == interests_url %}class="active"{% endif %}>สิ่งที่สนใจ
                            </a>
                        </li>
                        <li>
                            <a href="{{ rolemodel_url }}"
                               {% if request.get_full_path == rolemodel_url %}class="active"{% endif %}>บุคคลต้นแบบ
                            </a>
                        </li>
                    <li>
                            <a href="{{ showmydata_url }}"
                               {% if request.get_full_path == showmydata_url %}class="active"{% endif %}>showmydata
                            </a>
                        </li>
                        <li>
                            <a href="{{ history_url }}"
                               {% if request.get_full_path == history_url %}class="active"{% endif %}>ข้อมูลส่วนตัว
                                <img src="{% static 'assets/images/profile-header.jpg' %}" alt="">
                            </a>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>