<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="Home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            djangoProj_147
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'Home' %}">
            <i class="fas fa-home"></i>
            <span>หน้าหลัก</span></a>
         <a class="nav-link" href="{% url 'MyHistory' %}">
            <i class="fas fa-user"></i>
            <span>ประวัติส่วนตัว</span></a>
        <a class="nav-link" href="{% url 'MyEducation' %}">
            <i class="fas fa-user-graduate"></i>
            <span>ประวัติการศึกษา</span></a>
        <a class="nav-link" href="{% url 'MyInterests' %}">
            <i class="fas fa-star"></i>
            <span>สิ่งที่สนใจ</span></a>
        <a class="nav-link" href="{% url 'MyProducts' %}">
            <i class="fas fa-box"></i>
            <span>สินค้าที่นำเสนอขาย</span></a>
        <a class="nav-link" href="{% url 'MyRoleModel' %}">
            <i class="fas fa-user-friends"></i>
            <span>บุคคลต้นแบบ</span></a>
        <a class="nav-link" href="{% url 'ShowMyData' %}">
            <i class="fas fa-database"></i>
            <span>showMyData</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

</ul>